<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>我的餐廳清單</title>
  <link rel="shortcut icon"
    href="/img/cookie-bite-solid.svg"
    type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<header>
  <!-- navigation -->
  <nav class="navbar navbar-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <i class="h2 fas fa-cookie-bite"></i>
        <h1 class="h2">我的餐廳清單</h1>
      </a>
    </div>
  </nav>

  <div class="banner"></div>
</header>
<body>
  {{{ body }}}
  <script src="/javascripts/bootstrap.bundle.min.js"></script>
  <script src="/javascripts/main.js"></script>
</body>
</html>
