header {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: #fce2cf;
}

.navbar .navbar-brand {
  color: #9b4b4b;
  transition: color 0.15s;
  display: flex;
}

.navbar .navbar-brand:hover {
  color: #fff;
}

.navbar .navbar-brand i {
  margin-right: 0.5rem;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 180px;
  background: #dddddd center center url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg');
  background-size: cover;
  filter: blur(3px);
}

.search-bar .search-bar-outer {
  margin: 0 auto;
  max-width: 680px;
  background-color: #fce2cf;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin-top: -60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.search-bar .search-bar-inner h4 {
  color: #9b4b4b;
}

.form-control::placeholder {
  color: #aaaaaa;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.input-group-text {
  background-color: #fce2cf;
}

.hover-transform {
  transition: transform 0.15s;
}

.hover-transform:hover {
  transform: translateY(-0.5rem) scale(1.05, 1.05);
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  height: 180px;
  object-fit: cover
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.badge {
  background-color: #dc3545;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.operation-buttons form, .operation-buttons div {
  display: inline-block;
  margin: 0 0.25rem;
}

.operation-buttons i {
  margin: 0 0.25rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 2rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.new-restaurant {
  position: fixed;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  bottom: 3rem;
  right: 2rem;
  font-size: 2rem;
  background-color: #9b4b4b;
  border-radius: 50%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
  transition: all 0.15s;
}

.new-restaurant i {
  color: #fce2cf;
}

.new-restaurant:hover {
  transform: translateY(-0.5rem) translateX(-0.5rem) scale(1.05, 1.05);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2rem;
  background-color: #fce2cf;
}

footer p {
  text-align: center;
  line-height: 2rem;
  font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
  .banner {
    height: 360px;
  }
  .restaurant-show-title {
    font-size: 3rem;
  }
  .new-restaurant {
    width: 4rem;
    height: 4rem;
    bottom: 4rem;
    right: 3rem;
    font-size: 2.5rem;
  }
  footer p {
    font-size: 1rem;
  }
}